/* @media screen and (max-width: 768px){
    .nav{
        width: 100%;
    }
    #dev{
        font-size: 30px;
    }
    .right_side{
        display: none;
    }
    .about{
        font-size: 25px;
        text-align: center;
    }
    #abbt{
        font-size: 20px;
        text-align: center;
    }
    .skills{
    margin: 30px ;
    
    }
} */
  @media screen and (max-width: 768px) {
    .nav #dev {
      font-size: 30px;
      margin-left: 20px;
    }

    .nav .right_side {
      display: none;
    }

    .content .about {
      font-size: 30px;
    }

    .content #abbt {
      margin-top: 8px;
      font-size: 18px;
    }

    .skills {
      margin: 65px;
    }

    .skills div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px;
      text-align: center;
    }

    .skills h2#title_skills {
      margin-top: 2px;
      margin-bottom: 20px;
    }

    .achievements {
      margin: 30px;
      padding: 19px;
    }

    .image {
      display: none;
    }

    .achievements h2#achievements_title {
      margin-top: 15px;
      margin-bottom: 20px;
    }

    .titleOfProjectShowCase h2 {
      font-size: 45px;
    }

    .certificates_list .c {
      width: 85%;
      height: 80%;
    }

    .topOfTheProject #pt {
      color: #fff;
    }

    .projects {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 40px;
    }

    .project1,
    .project2,
    .project3 {
      background-color: #fff;
      padding: 10px;
      border-radius: 20px;
      height: 580px;
      width: 500px;
      margin: 20px;
    }

    .project1 img,
    .project2 img {
      height: 260px;
      width: 330px;
      border-radius: 15px;
      display: block;
      margin: 10px auto;
    }

    .project3 img {
      height: 300px;
      width: 350px;
      border-radius: 15px;
      display: block;
      margin: 0 auto;
    }

    .btn_Projects {
      margin-top: 15px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 2px;
    }

    .whitebox {
      height: 280px;
    }

    .connections h3 {
      font-size: 20px;
    }

    .connections p {
      font-size: 15px;
    }

    .sm {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-right: 50px;
      padding: 10px;
    }
  }

  @media screen and (max-width: 480px) {
    .nav #dev {
      font-size: 30px;
      margin-left: 15px;
    }

    .nav .right_side {
      display: none;
    }

    .background-svg {
      position: absolute;
      top: 260px;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-repeat: repeat-x;
      background-position: bottom;
    }

    .content .about {
      margin-top: -120px;
      font-size: 25px;
    }

    .content #abbt {
      font-size: 14px;
    }

    .skills {
      margin: 65px;
    }

    .skills h2#title_skills {
      margin-bottom: 20px;
    }

    .achievements {
      margin: 30px;
      padding: 15px;
    }

    .image {
      display: none;
    }

    .achievements h2#achievements_title {
      margin-top: 15px;
      margin-bottom: 20px;
    }

    .titleOfProjectShowCase h2 {
      font-size: 40px;
    }

    .certificates_list .c {
      width: 90%;
      height: 88%;
    }

    .topOfTheProject #pt {
      color: #fff;
    }

    .projects {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 40px;
    }

    .project1,
    .project2,
    .project3 {
      background-color: #fff;
      padding: 10px;
      border-radius: 20px;
      height: 535px;
      width: 350px;
      margin: 20px;
    }

    .btn_Projects {
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 2px;
    }

    .whitebox {
      height: 260px;
    }

    .connections h3 {
      font-size: 20px;
    }

    .connections p {
      font-size: 15px;
    }

    .sm {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-right: 50px;
      padding: 10px;
    }
  }
@media screen and (max-width: 607px) {
    .projects {
      justify-content: flex-start;
    }
  
    .project1,
    .project2,
    .project3 {
      float: right;
      margin: 20px auto;
      width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .projects {
      justify-content: center;
    }
  
    .project1,
    .project2,
    .project3 {
      margin: 20px;
      width: 90%;
    }
  }
  