@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(70, 33, 235);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: blue;
}

*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 1rem;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0099ff;
}
#dev{
    padding-left: 20px;
    font-size: 35px;
    font-weight:600;
}
span{
    color: rgb(241, 5, 5);
}
.nav{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}
.right_side{
    margin-left: 32rem;
    display: flex;
    align-items: center;
    text-align: center;
    width:100%;
    padding: 5px;
}
.rsh3{
    padding-right: 42px;
}
.rsh3 a{
  transition: all 0.3 ease;
}
.rsh3 a:hover{
  color:rgb(94, 94, 248);
}
.about{
    height: 540px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    z-index: -2;
}
.about h1{
    /* font-family: 'Open Sans', sans-serif; */
    margin-top: -70px;
    font-family: 'Rubik', sans-serif;
}

#abbt{
    font-size: 30px;
    margin-top: 8px;
}

.background-svg {
  position: absolute;
  top: 400px;
  height: 350px;
  background-repeat: repeat-x;
  background-position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.skills {
    border-radius: 20px;
    background-color: #e6e1e1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 60px;
  }

  .skills h2#title_skills {
    margin-top: 20px;
    font-size:34px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  }

  .skills img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .skills img:hover {
    transform: scale(1.1);
  }

  .skills h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
    transition: color 0.3s ease-in-out;
  }

  .skills h3:hover {
    color: #ff6b6b;
  }


  .achievements {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding-left: 100px;
    position: relative;
  }
  .achievements {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  .image {
    width: 450px;
    height: auto;
  }
  
  .achievements-content {
    flex: 1;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  

  .achievements h2#achievements_title {
    margin-top: 20px;
    font-size:34px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .achievements h3 {
    font-size: 18px;
    color: #0e0d0d;
    margin-bottom: 10px;
    padding-bottom: 10px;

  }

  .achievements h3 span {
    font-size: 20px;
    margin-left: 10px;
    color:red;
  }

  .achievements h3 span a {
    text-decoration: none;
    color:red;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .achievements h3 span a:hover {
    color: #333;
  }


/* project section */
/*Projects*/
.topOfTheProject h2 {
  color: #333333;
  font-size: 42px;
  text-align: center;

}
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 40px;
}
.project1, 
.project2,
.project3 {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  height:520px;
  width: 380px;
  margin: 10px;
}

.project1 p, 
.project2 p,
.project3 p {
  padding: 5px;
}

.project1 img, 
.project2 img {
  height: 220px;
  width: 300px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.project3 img{
  height: 240px;
  width: 300px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.project1 h4,
.project2 h4,
.project3 h4{
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.project1 p,
.project2 p,
.project3 p{
  font-weight: 700;
  padding: 5px;
}
.project1 .descp,
.project2 .descp,
.project3 .descp{
  margin-top: 10px;
}
.btn_Projects{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding:2px;
}
.cssbuttons-io a, .button-31 a{
  text-decoration: none;
  color: #fff;
}

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px; /* Adjust the font size as needed */
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.5em 0.8em; /* Adjust the padding values to reduce button size */
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

.button-31 {
  background-color: #000;
  border-radius: 40px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

  /**/


.whitebox {
  height: 120px;
  margin-top: 50px;
  background-color: #000;
  padding: 20px;
  color: #fff;
}


.connections {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.connections h3,
.connections p {
  width: 100%;
  /* padding-left: 10px; */
  padding-bottom: 10px;
  text-align:left;
}

.sm {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-right: 40px;
}

.sm img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sm a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.sm a:hover {
  color: #0099ff;
}

.future p{
  text-align: center;
  color: #000;
}


.project_showCase {
  padding: 20px;
  border-radius: 5px;
}

.titleOfProjectShowCase {
  text-align: center;
  margin-bottom: 20px;
}

.titleOfProjectShowCase h2 {
  font-size: 34px;
  color: #ffffff;
}

.certificates_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: -10px; */
}

.certificates_list .c {
  width:45%;
  height: 40%;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.certificates_list .c:hover {
  transform: scale(1.15);
}
.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 3px;
  /* border: 1px solid salmon; */
}


/* media queries */
@media screen and (max-width: 768px){
  .nav #dev{
    font-size: 30px;
    margin-left: 20px;
  }
  .nav .right_side{
    display: none;
  }
  .content .about{
    font-size: 30px;
  }
  .content #abbt{
    margin-top: 8px;
    font-size: 20px;
  }
  .skills{
    margin: 65px;
  }
  .skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
  }
  .skills h2#title_skills {
    margin-top: 2px;
    margin-bottom: 20px;
  }
  .achievements {
    margin: 30px;
    padding: 19px;
  }
  .image{
    display: none;
  }
  .achievements h2#achievements_title {
    margin-top: 15px;
    margin-bottom: 20px;
  }
 .titleOfProjectShowCase h2{
    font-size: 45px;
  }
  .certificates_list .c{
    width:85%;
    height: 80%;
  }
  .topOfTheProject #pt{
    color: #fff;
  }
  .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
  }
.project1, 
.project2,
.project3 {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  height:580px;
  width: 500px;
  margin: 20px;
}

.project1 img, 
.project2 img {
  height: 260px;
  width: 330px;
  border-radius: 15px;
  display: block;
  margin: 10px auto;
}

.project3 img{
  height:300px;
  width: 350px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}
.btn_Projects{
  margin-top: 15px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding:2px;
}
.whitebox{
  height: 280px;
}
.connections h3{
  font-size: 20px;
}
.connections p{
  font-size: 15px;
}
.sm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 50px;
  padding: 10px;
}
}

@media screen and (max-width: 480px){
  .nav #dev{
    font-size: 30px;
    margin-left: 15px;
  }
  .nav .right_side{
    display: none;
  }
  .background-svg {
    position: absolute;
    top: 260px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-repeat: repeat-x;
    background-position: bottom;
  }
  .content .about{
    margin-top:-120px ;
    font-size: 25px;
  }
  .content #abbt{
    font-size: 14px;
  }
  .skills{
    margin: 65px;
  }
  .skills h2#title_skills {
    margin-bottom: 20px;
  }
  .achievements {
    margin: 30px;
    padding: 15px;
  }
  .image{
    display: none;
  }
  .achievements h2#achievements_title {
    margin-top: 15px;
    margin-bottom: 20px;
  }
 .titleOfProjectShowCase h2{
    font-size: 40px;
  }
  .certificates_list .c{
    width:90%;
    height: 88%;
  }
  .topOfTheProject #pt{
    color: #fff;
  }
  .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
  }
  .project1, 
.project2,
.project3 {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  height:535px;
  width: 350px;
  margin: 20px;
}

.btn_Projects{
  margin-top: 10px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding:2px;
}
.whitebox{
  height: 260px;
}
.connections h3{
  font-size: 20px;
}
.connections p{
  font-size: 15px;
}
.sm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 50px;
  padding: 10px;
}
}